body {
  margin: 0;
  background: darkgray;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttons {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  border-radius: 1em;
  background: white;
  padding: 0.5rem;
  margin: 0.5em;
  cursor: pointer;
}

#appCanvas {
  background: lightgray;
}

#networkCanvas {
  background: black;
}
