body {
  margin: 0;
  background: darkgray;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttons {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  background: white;
  border-radius: 5px;
  padding: 8px;
  margin: 2px 4px;
  cursor: pointer;
}

#appCanvas {
  background: lightgray;
}

#networkCanvas {
  background: black;
}
